{% extends 'base.html' %}

{% block title %} Create page {% endblock title %}

{%block content %}
<div class="container">
   <div class="container">
      <h1>Add Text</h1>
   </div>
  
  <form method="post">
      <input type="text" name="title" id="title" class="container form-control" placeholder="Input name text"><br>
      <textarea name="intro" id="intro" class="container form-control" placeholder="Input Anons"></textarea><br>
      <textarea name="text" id="text" class="container form-control" placeholder="Input All Text"></textarea><br>
      <input type="submit" class="btn btn-success" value="Push">
  </form>
</div>
{% endblock content %}
